
:root{
    --primary: white;
    --secondary: #08a9f1;
    --accent: #f87c68;
    --neutral: #75cef9;
}
body{
    background-color: var(--primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ;
    margin: 0;
}
header, footer{
    height: 8vh;
    max-width: 100dvw;
    background-color: var(--secondary);    
    color: var(--primary);
    display: grid;
        grid-template-areas: "brand gap button";
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        justify-items:center;
    
}
header :nth-child(1){
    grid-area: brand;
    margin: 0;
}
header :nth-child(2){
    grid-area: button;
    margin: 0;
}
main{
    min-height: 84vh;
}
#hero{
    display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 'about img';
    height: 46vh;
    padding: 0;
    left: 0;
}
#hero section:nth-child(1){
    background-color: var(--neutral);
    grid-area: 'about';
    padding-left: 100px;
}
#hero section:nth-child(1) p{
    max-width: 50%;
}
#hero section:nth-child(2){
    background-color: aqua;
    background-image: url("img/vehicle-charging.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    grid-area: 'img';
}
#services{
    height: 46vh;
    text-align: center;
}
nav{
    display: flex;
        justify-content: space-evenly;
        align-items: center;
}
/***UI Components***/
button{
    background-color: var(--accent);
    color: var(--primary);
    max-width: fit-content;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}
button:hover {
    background-color: #FF8B84; /* Change to any other color for hover effect */
}
.card{
    text-align: center;
}
.card img{
    max-height: 100px;
    max-width: 100px;
}
section{
    padding: 10px;
}
.signin {
    width: 25%;
    position: relative;
    left: 50%;
}
.credentials{
    text-align: center;
}
.credentials input{
    display: block;
    margin: auto;
}
input{
    width: 100px;
    border-width: 0;
    border-radius: 25px;

}
img{
    width: 100%;
}
/***Section Layout****/
.twoColMain{
    display: grid;
        grid-template-columns: 2fr 1.3fr;
    
}
.twoRowMain{
    display: grid;
        grid-template-rows: 2fr 1fr;
}
.centered-Column{
    text-align: center;
    
    display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
}